/* Configuração geral DIV bloco login */

body#bodyLogin {
    background-image: url('img/fundo-login.png');
}

.form-login {
    /* background-color: rgba(255, 255, 255, 0.3); */
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    /* Effect glass */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/* LOGIN */


/* .form-login #main {
    font-family: Arial, He lvetica, sans-serif;
    text-align: center;

} */


/* Configuração ESTILO tela de login, bloco de nome e senha / botão  */

.form-login input {
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.inputSubmit {
    background-color: #16a5a5;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 15px;
}

.inputSubmit:hover {
    background-color: #47dada;
    cursor: pointer;
}


/* PAGINA DE USUARIO+++++++++++++++++++++++++++++++++++++++++ */


/* .pagUser body {
    background-color: blanchedalmond;
} */

.bodyBody {
    margin-left: 0px;
    transition: marginLeft 0.5s;
}

.form-evento {
    background-color: cornflowerblue;
    margin-left: 0px;
    transition: marginLeft 0.5s;
}

*#bodyMenu {
    margin: 0px;
    background-color: rgb(56, 158, 161);
    z-index: 1;
}


/* *#bodyEvent {
    margin: 0px;
} */


/*
body#bodyMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: darkgray;
} */

*#nav_s {
    font-family: Arial, Helvetica, sans-serif;
}

#nav_s a {
    text-decoration: none;
}

.btnAbrir {
    color: whitesmoke;
    font-size: 25px;
}

#nav_s header {
    background-color: #404A53;
    padding: 10px;
}

#nav_s nav {
    height: 100%;
    width: 0px;
    background-color: #404A53;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
}

#nav_s nav a {
    color: white;
    font-size: 20px;
    display: block;
    padding: 25px 10px 12px 32px;
}

#nav_s nav a:hover {
    background-color: whitesmoke;
    color: #404A53;
}

#nav_s main {
    padding: 10px;
    transition: margin-left 0.5s;
}

#form-evento input {
    display: block;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    outline: none;
    border: none;
    font-size: 15px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #ffffffef;
    width: 400px;
    border-radius: 30px;
    padding: 20px;
}

#form-usuario legend {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#form-usuario label {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


/* #form-evento .formEnv {
    display: block;
}

#form-evento .formEmp {
    display: block;
}

#form-evento .formCnpj {
    display: block;
}

#form-evento .formEnder {
    display: block;
}

#form-evento .formSite {
    display: block;
}

#form-evento .formDatin {
    display: block;
}

#form-evento .formDatfin {
    display: block;
} */


/* body#bodyEvent {
    background-color: dimgray;
}

#form-evento {
    background-color: cadetblue;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    text-align: center;
} */

#event {
    width: 1700px;
    height: 700px;
    overflow: auto;
    background: #ffffffef;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    padding: 20px;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#event th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-align: left;
    padding-top: 5px;
}

#event td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}

.bodyForm {
    background-color: #16a5a5;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.labelForm {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

#alter_1 {
    margin-top: 10px;
}

.submitForm {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: floralwhite;
    font-size: 15px;
}

#lateralBar {
    background-color: #404A53;
    position: fixed;
    width: 350px;
    height: 100%;
}

.formUserNav {
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
    margin: 60px;
}

h1 {
    font-size: 25px;
}

#formVisual {
    background-color: aliceblue;
    padding: 50px;
    border-radius: 60px;
}

#formVisual h1 {
    font-size: 20px;
    font-weight: normal;
}

#formVisual .boxForm {
    margin-top: 50px;
}

#formVisual label {
    margin-top: 20px;
}

#formVisual input {
    margin-top: 10px;
}

#dissert {
    border-top: none;
    border-left: none;
    border-right: none;
}

#list {
    font-size: 20px;
}

.submitForm {
    position: relative;
    /* display: block; */
    left: 0;
    background-color: rgb(19, 202, 65);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#dissert-1 {
    display: none;
    width: 300px;
    height: 100px;
}


/* #dissert-2 {
    display: none;
} */